body#loginBody{
	background: url('../images/slide_1.jpg') no-repeat center center fixed;
	background-size: cover;
}
body{	
	font-family: arial;
}
div.loginHeader{
	text-align: center;
}
.alignLeft{
	text-align: left;
}
div.loginHeader{
    margin-top: 50px;
	margin-bottom: 150px;
}
div.loginHeader h1{
	font-size: 50px;
	color:#005eb8;
	padding:0px;
	margin:0px;
}
div.loginHeader p{
	color:#005eb8;
	font-size: 25px;
	margin:0px;
	text-transform: uppercase;
	display: inline-block;
}

div.loginHeader p:after{
	content:'';
	display: block;
	height: 5px;
	background: #005eb8;
	margin:0 auto;
}
div.loginBody form{
	margin: 50px auto;
	width: 450px;
	background: rgba(0,0,0,.5);
	padding:50px;
	border:2px solid #fff;
	border-radius: 8px;
}

div.loginInputsContainer{
	margin-top:0px;
}

div.loginInputsContainer label{
	display: block;
	text-transform: uppercase;
	font-size: 20px;	
	font-weight: bold;
	color:#fff;
	padding:10px;
}

div.loginInputsContainer input{
	height: 30px;
	width:100%;
	border:2px solid #005eb8;
	font-size:20px;
	padding:5px;
	text-align: center;
	font-style: italic;
}
div.loginButtonContainer{
	margin-top:40px;
	text-align: center;
}

div.loginButtonContainer button{
	font-size: 20px;
	padding: 10px 40px;
	background: #005eb8;
	border:none;
	color: #fff;
}